.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #161b22;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
